
meshes/tate/zombie01.nif
meshes/tate/zombie02.nif
meshes/tate/zombie03.nif
meshes/tate/armorskeleton1.nif
meshes/tate/armorskeleton2.nif
meshes/tate/armorskeleton3.nif
meshes/tate/armorskeleton4.nif
meshes/tate/helmet01.nif
meshes/tate/helmet02.nif
meshes/tate/helmet03.nif
meshes/tate/zombiehead.nif
